* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a7052;
}

body, html, input {
  font-family: Mulish, sans-serif;
}

#app {
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.container {
  padding: 0 50px;
  width: min(1120px, 100%);
  margin: auto;
}

header, nav {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  font-weight: bold;
  font-size: 17px;
  color: white;
}

header img {
  width: 50px;
  height: 50px;
}

header ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar input {
  border-radius: 8px;
  border: none;
  padding: 8px;
  width: 300px;
  font-weight: 600;
  margin-left: 7px;
}

main {
  overflow-y: scroll;
  background-color: #fff;
}

main h1 {
  font-size: 30px;
  margin: 45px 0;
  text-align: center;
}

figure {
  margin: auto;
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
  transition: all 300ms;
  background-color: #73cbac;
}

figcaption {
  background-color: #73cbac;
  position: relative;
}

figure img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  transition: all 300ms ease-out;
}

figure img:hover {
  transform: scale(1.3);
}

figure p {
  padding: 15px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 60px;
}

footer {
  padding: 15px;
  text-align-last: center;
  background-color: #1a7052;
}

footer a {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
